.steps-list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: list;

  color: $text-dark;
  font-size: $font-size-18;
  font-weight: 700;
  line-height: 18px;

  &__item {
    box-sizing: border-box;
    position: relative;
    height: 100px;
    border-radius: 10px 10px 0 0;
    background-color: $light-gold;
    padding: 25px 50% 35px 25px;
    margin-bottom: -10px;

    &::after {
      counter-increment: list;
      content: counter(list);
      position: absolute;
      text-align: right;
      right: 25px;
      top: 25px;
      color: $white;
    }

    &:first-child {
      background-color: $mango-dark;
    }

    &:nth-child(2) {
      background-color: $mango-middle;
    }

    &:nth-child(3) {
      background-color: $mango-light;
    }

    &:last-child {
      border-radius: 10px;
      padding-bottom: 25px;
    }
  }
}
